general/*
materi/*
panitia/*
pelatihan/*
Organisasi/*
Sertifikat/*
**/*.pptx
**/*.ppt
**/.cph/*
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.synctex.gz
**/output
**/*.exe
**/root/
Semester_2/SisOp_Praktikum_3/
**/.metadata/*
