Materi/*
Pelatihan/*
Organisasi/*
Sertifikat/*
**/.cph/*
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.synctex.gz
**/output
**/*.exe
**/root/
Semester_2/SisOp_Praktikum_3/osboot/*
**/.metadata/*
**.zip**

Semester_4/ML_Praktikum_3/creditcard.csv


