:root {
  --secondary-blue: #02052a;
  --primary-blue: #002687;
  --gradient-navbar: linear-gradient(45deg, #ffffff, #00a3ff);
  --gradient-food: linear-gradient(15deg, #02052a, #00a3ff);
  --gradient-home: linear-gradient(
    270deg,
    #ff6a00,
    #ff6a99,
    #ee0979,
    #9d00ff,
    #00f260,
    #00d4ff,
    #0575e6
  );;
  --white: #ffffff;
  --black: #000000;
  --muted: #9aa4b2;
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.page-out {
  animation: slideOut 0.5s forwards;
}

*::-webkit-scrollbar {
  display: none;
}